<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
   <add key="cokeconnectionstring" value="metadata=res://*/EF.CokeData.csdl|res://*/EF.CokeData.ssdl|res://*/EF.CokeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=cokeunittests;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" />
   <add key="PlatformType" value="windows" />
    <add key="importpath" value="D:\Work-stuff\Virtual city\distributr\Distributr.DataImporter.Files\SD Input Dat" />
   </appSettings>
</configuration>