<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="mailServer" value="smtp.pzcussons.com" />
    <add key="user" value="goyoo@virtualcity.co.ke" />
    <add key="Password" value="goyoo2012" />
    <add key="EmailDisplay" value="PZ Cussons SFA" />
    <add key="ExportPath" value="C:\Cussons\Destinations" />
    <add key="MFGDestinationPath" value="D:\Work-Stuff\Cussons\Destinations" />
    <add key="masterdataimportpath" value="D:\Work-Stuff\Cussons\Integration Docs\Import Text Files" />
    <add key="ApplicationName" value="PZ Cussons SFA" />
    <add key="ServerIP" value="10.0.0.87" />
    <add key="ApplicationUrl" value="http://10.110.1.6/Cussons" />
    <add key="Port" value="0" />
    <add key="cokeconnectionstring" value="metadata=res://*/EF.CokeData.csdl|res://*/EF.CokeData.ssdl|res://*/EF.CokeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=pzcussonshq;persist security info=True;user id=sa;password=P@ssw0rd;Connection Timeout=60;multipleactiveresultsets=True;App=EntityFramework&quot;" />
  </appSettings>
  <connectionStrings>
    <add name="DistributrLocalContext" connectionString="Data Source=(local);Initial Catalog=DistributrLocalSetup;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>