@{
    ViewBag.Title = "Service Provider Report";
}

<h2>Service Provider Reports</h2>

@using PaymentGateway.WSApi.Lib.Util
<div>
<iframe src="@Html.MyHost()rpt/admin/serviceprovider.aspx" ></iframe>
</div>