@{
    ViewBag.Title = "Losses";
}

@{
    ViewBag.Title = "Losses";
}

<h2 id="breadcrumb-holder">
	Dashboard &nbsp; &gt; &nbsp;	
	<span class="bc-example">
		@Html.ActionLink("Reports", "Reports", new { area = "", controller = "Home" }) &nbsp; &gt; &nbsp;
		Losses
	</span> 
</h2>
<div id="main-content-report">
@using Distributr.HQ.Lib.Util
<div>
<iframe src="http://10.0.0.19/distributrReport/DistributorReports/Sales/Losses/Losses.aspx" ></iframe>
</div>
</div>
