@{
    ViewBag.Title = "SalesBySalesman";
}

<h2 id="breadcrumb-holder">
	Dashboard &nbsp; &gt; &nbsp;	
	<span class="bc-example">
		@Html.ActionLink("Reports", "Reports", new { area = "", controller = "Home" }) &nbsp; &gt; &nbsp;
		Sale By Salesman
	</span> 
</h2>
<div id="main-content-report">
@using Distributr.HQ.Lib.Util
<div>
<iframe src="@Html.MyResource("Reports/Sales/SalesBySalesman.aspx")@ViewBag.Parameters" ></iframe>
</div>
</div>
