@model Distributr.HQ.Lib.ViewModels.Admin.AssetViewModel.AssetTypeViewModel

@{
    ViewBag.Title = "AssetTypeDetails";
}
<p>
    @Html.ActionLink("EditAssetType", "EditAssetType", new { id=Model.Id }) |
    @Html.ActionLink("View Asset Types", "ListAssetTypes")
</p><br />
<h2>Asset Type Details</h2>

<fieldset>
    <legend></legend>
<table>
<tr><td>
    <div class="display-label">Name</div></td><td>
    <div class="display-field">@Model.Name</div></td></tr>   
<tr><td>
    <div class="display-label">Description</div></td><td>
    <div class="display-field">@Model.Description</div></td></tr>
 
</table>
</fieldset>

