<?xml version="1.0" encoding="UTF-8"?>

<Wix  xmlns="http://schemas.microsoft.com/wix/2006/wi">
 
	<Product Id="9ADC359A-0384-48D2-A1C8-B30A3FA7105D" Name="Distributr" Language="1033" Version="1.0.0.0" Manufacturer="Virtual City" UpgradeCode="CC47E21A-5D62-48EB-93CC-F3DF6ABE2BC3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Distributr.WPF.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
   <UIRef Id="WixUI_Minimal" />
	</Product>

	<Fragment>
   
		<Directory Id="TARGETDIR" Name="SourceDir">
      
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Distributr" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			 <Component Id="ProductComponent" Guid="500EC3C2-F7EE-46D7-971B-39AC0619B186">
         <File Id="FILE_InstallMeTXT" Source="../Distributr.WPF/bin/Debug/Distributr.WPF.UI.exe" KeyPath="yes" />
				<!-- TODO: Insert files, registry keys, and other resources here. -->
		 </Component> 
		</ComponentGroup>
	</Fragment>

</Wix>
