@using Distributr.HQ.Lib.Helper
@using Distributr.HQ.Lib.Util
<h2 id="breadcrumb-holder">
    @Html.GetText("hq.dboard")  <span class="bc-example-intro"></span>
</h2>
<div id="main-content-housing">
     <div>
-            <iframe src="@Html.MapResource()"></iframe>
-
-        </div>
    <!-- end of div#homepage-dashboard -->
</div>
