<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="paymentgatewayEntities" connectionString="metadata=res://*/EF.PG.csdl|res://*/EF.PG.ssdl|res://*/EF.PG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=paymentgateway;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PaymentgatewayConnectionstring" value="metadata=res://*/EF.PG.csdl|res://*/EF.PG.ssdl|res://*/EF.PG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=paymentgateway;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" />
  </appSettings>
</configuration>