@{
    ViewBag.Title = "OrdersSubReport";
}
<h2 id="breadcrumb-holder">
	Dashboard &nbsp; &gt; &nbsp; 
	<span class="bc-example">
		@Html.ActionLink("Reports", "Reports", new { area = "", controller = "Home" }) &nbsp; &gt; &nbsp;
	    @Html.ActionLink("Orders Summary", "OrdersSummary") &nbsp; &gt; &nbsp;
		Orders Sub Report
	</span>
</h2>
<div id="main-content-report">
@using Distributr.HQ.Lib.Util
<div>
<iframe src="@Html.MyResource("Reports/Order/OrdersSubreport.aspx")@ViewBag.Parameters" ></iframe>
</div>
</div>
