@{
    ViewBag.Title = "Change Password";
}
<h2 id="breadcrumb-holder">Account &gt;Change Password</h2>


<div class="main-content-paragraph">
    <p>
        Your password has been changed successfully.
    </p>
</div>
