<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="masterdataimportpath" value="F:\Projects\Integration Files" />
    <add key="exports" value="F:\Projects\Middleware Exports" />
    <!--<add key="masterdataimportpath" value="D:\Setups\Agrimanagr\import" />
    <add key="exports" value="D:\Setups\Agrimanagr\export" />-->
    <add key="WSURL" value="http://10.0.0.176:57200/" />
    <add key="vcapp" value="Agrimanagr" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>