<section>
    <br />

    <div id="primary-controls">
        <fieldset>
            <legend>Product</legend>

            <table class="detail-arrange">
                <tr>
                    <td style="padding-top: 12px;">
                        <strong>Product :</strong>
                    </td>

                    <td><span class="text-box-cshtml">
                            <select id="product" style="width: 250px">
                                <option value=""></option>
                                <option value="Maize">Maize</option>
                                <option value="Bean">Bean</option>
                            </select>
                    </span>
                        <span class="inline-error"></span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 12px;"><strong>Option :</strong></td>
                    <td><span class="text-box-cshtml">
                            <select id="packageoption">
                                <option value="false">Unit</option>
                                 <option value="true">Bulk</option>
                            </select>
                           
                        </span>
                        <span class="inline-error"></span>
                    </td>

                </tr>
                 <tr>
                    <td style="padding-top: 12px;">
                        <strong>Required:</strong>
                    </td>
                    <td><span class="text-box-cshtml">
                            <input id="quantity" type="text" />
                        </span>
                        <span class="inline-error"></span>
                    </td>

                </tr>
                
                 <tr>
                    <td style="padding-top: 12px;">
                        <strong>Unit Price Amount :</strong>
                    </td>
                    <td><span id="unitprice" class="text-box-cshtml">
                           <!-- <input id="unitprice" type="text" readonly="readonly" />-->
                           
                    </span>
                        <span class="inline-error"></span>
                    </td>

                </tr>

                
                <tr>
                    <td style="padding-top: 12px;">
                        <strong>Total Net Amount :</strong>
                    </td>
                    <td><span id="netamount" class="text-box-cshtml">
                         <!--   <input id="netamount" type="text" readonly="readonly" />-->
                        </span>
                        <span class="inline-error"></span>
                    </td>

                </tr>
              
                <tr>
                    <td style="padding-top: 12px;">
                        <strong>Gross Amount :</strong>
                    </td>
                    <td><span  id="grossamount"  class="text-box-cshtml">
                       <!-- <input id="grossamount" readonly="readonly" type="text" />-->
                    </span>
                        <span class="inline-error"></span>
                    </td>

                </tr>
            </table>
            <!-- end of detail-arrange -->


        </fieldset>
      
    </div>
     <div id="popup-dropdown"></div>
</section>

