@model Distributr.HQ.Lib.ViewModels.Agrimanagr.CostCentreViewModel.CommodityOwnerTypeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("List Of Asset Types","ListCommodityOwnerTypes")
