<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="cokeconnectionstring"
         value="metadata=res://*/EF.CokeData.csdl|res://*/EF.CokeData.ssdl|res://*/EF.CokeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ro9aey8be2.database.windows.net,1433;initial catalog=vctest1db;persist security info=True;user id=tonytest@ro9aey8be2;password=Doggie01;multipleactiveresultsets=True;App=EntityFramework&quot;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StorageConnectionString"
        value="DefaultEndpointsProtocol=http;AccountName=testvcstorage;AccountKey=qfd6WfAiNp33RLWesKakZkfpdydjF8X2HQ1f5iZzhd/Fenc9RWOPdu71gst8xLdR9R3RKUoYRqm4UhBfsfmDKg=="
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>