#nav,#nav ul {
list-style:none;
line-height:1;
margin:0;
padding:0;
}

#nav a {
display:block;
}

#nav li {
float:left;
width:10em;
}

#nav li ul {
position:absolute;
background:#f5f5f5;
width:10em;
left:-999em;
}

#nav li ul li {
padding:6px 0;
}

#nav li ul li a {
padding-left:5px;
font-size:.8em;
}

#nav li ul li:hover {
background-color:#fcfcfc;
}

#nav li ul ul {
margin:-1em 0 0 10em;
}

#nav li:hover ul ul,#nav li.sfhover ul ul {
left:-999em;
}

#nav li:hover ul,#nav li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul {
left:auto;
}

#nav2 a {
float:left;
display:block;
margin:0;
}

#nav2 {
line-height:1em;
display:block;
position:absolute;
list-style:none;
z-index:5;
left:10px;
text-align:center;
margin:0;
padding:0;
}

#nav2 ol,#nav2 ul {
background:#d4d8da;
border:1px solid #bfbfbf;
left:0;
}

#nav2 li {
display:block;
list-style:none;
position:relative;
float:left;
}

#global-settings {
background:url(../images/buttons/buttons.png) no-repeat;
background-position: 0px -255px;
width:143px;
height:41px;
}

#global-settings:hover {
background:url(../images/buttons/buttons.png) no-repeat;
background-position: 0px -204px;
}

#account-btn {
background:url(../images/buttons/buttons.png) no-repeat;
background-position: 0px -51px;
width:103px;
height:41px;
}

#account-btn:hover {
background:url(../images/buttons/buttons.png) no-repeat;
background-position: 0px 0px;
}

#help-btn {
background:url(../images/buttons/buttons.png) no-repeat;
background-position: 0px -357px;
width:76px;
height:41px;
}

#help-btn:hover {
background:url(../images/buttons/buttons.png) no-repeat;
background-position: 0px -306px;
}

#dashboard-btn {
background:url(../images/buttons/buttons.png) no-repeat;
background-position: 0px -153px;
width:143px;
height:41px;
}

#dashboard-btn:hover {
background:url(../images/buttons/buttons.png) no-repeat;
background-position: 0px -102px;
}


#nav3,#nav ul {
list-style:none;
line-height:1;
margin:0;
padding:0;
}

#nav3 a {
display:block;
}

#nav3 li {
float:left;
width:10em;
}

#nav3 li ul {
position:absolute;
background:#f5f5f5;
width:10em;
left:-999em;
}

#nav3 li ul li {
padding:6px 0;
}

#nav3 li ul li a {
padding-left:5px;
font-size:.8em;
}

#nav3 li ul li:hover {
background-color:#fcfcfc;
}

#nav3 li ul ul {
margin:-1em 0 0 10em;
}

#nav3 li:hover ul ul,#nav li.sfhover ul ul {
left:-999em;
}

#nav3 li:hover ul,#nav li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul {
left:auto;
}