@using Distributr.WebApi.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Home</h1>
        <h4>@Html.GetVersion()</h4>
    </div>
</body>
</html>
