<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="cokeIIEntities" connectionString="metadata=res://*/EF.CokeData.csdl|res://*/EF.CokeData.ssdl|res://*/EF.CokeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=cokeunittest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<startup>
	</startup>
</configuration>
