@model Distributr.HQ.Lib.ViewModels.Admin.CostCenter.OutletTypeViewModel

@{
    ViewBag.Title = "DetailsOutletType";
}

<h2>DetailsOutletType</h2>

<fieldset>
    <legend>OutletTypeViewModel</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditOutletType", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

