@model Distributr.HQ.Lib.ViewModels.Admin.DistributorTargetsViewModel.TargetPeriodViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("List Of TargetPeriods", "ListTargetPeriods");
