@{
    ViewBag.Title = "Orders By Salesman";
}
<h2 id="breadcrumb-holder">
	Dashboard &nbsp; &gt; &nbsp;	
	<span class="bc-example">
		@Html.ActionLink("Reports", "Reports", new { area = "", controller = "Home" }) &nbsp; &gt; &nbsp;
		@Html.ActionLink("Orders By Distributor", "Index", new { area = "Rpt", controller = "OrdersByDistributor" }) &nbsp; &gt; &nbsp;
		Order By Salesman
	</span> 
</h2>
<div id="main-content-report">
@using Distributr.HQ.Lib.Util
<div>
<iframe src="@Html.MyResource("Reports/OrdersByDistributor/OrdersBySalesman.aspx")@ViewBag.Parameters" ></iframe>
</div>
</div>
