<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mailServer" value="smtp.pzcussons.com"/>
    <add key="user" value="cndirangu@virtualcity.co.ke"/>
    <add key="EmailAddress" value="cndirangu@virtualcity.co.ke"/>
    <add key="EmailDisplay" value="PZ Cussons SFA"/>
    <add key="pwd" value=""/>
    <add key="ExportPath" value="D:\Work-Stuff\Cussons\Destinations"/>
    <add key="masterdataimportpath" value="D:\Work-Stuff\Cussons\Integration Docs\Import Text Files"/>
    <add key="MFGDestinationPath" value="\\10.0.0.7\Softwares"/>
    <add key="ApplicationName" value="PZ Cussons SFA"/>
    <add key="ServerIP" value="10.0.0.87"/>
    <add key="UserName" value="goyoo"/>
    <add key="Password" value="goyoo2012"/>
    <add key="ServerEmail" value="cndirangu@virtualcity.co.ke"/>
    <add key="MailGroup" value="cndirangu@virtualcity.co.ke"/>
    <add key="ApplicationUrl" value="http://10.110.1.6/Cussons"/>
    <add key="Port" value="0"/>
    <add key="cokeconnectionstring" value="metadata=res://*/EF.CokeData.csdl|res://*/EF.CokeData.ssdl|res://*/EF.CokeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=197.248.2.61;initial catalog=pzcussons;persist security info=True;user id=sa;password=V!rtu@lcloud;Connection Timeout=60;multipleactiveresultsets=True;App=EntityFramework&quot;" />
  </appSettings>
  <connectionStrings>
    <add name="DistributrLocalContext" connectionString="Data Source=(local);Initial Catalog=pzcussonsIntegrationSetup;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>