@model Distributr.HQ.Lib.ViewModels.Agrimanagr.EquipmentViewModel.ContainerTypeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("List Of Container Types","ListContainerTypes")

