<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="paymentgatewayEntities" connectionString="metadata=res://*/EF.PG.csdl|res://*/EF.PG.ssdl|res://*/EF.PG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=paymentgatewaybridge;persist security info=True;user id=dev;password=sys;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PaymentgatewayConnectionstring" value="metadata=res://*/EF.PG.csdl|res://*/EF.PG.ssdl|res://*/EF.PG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=paymentgatewaybridge;persist security info=True;user id=dev;password=sys;multipleactiveresultsets=True;App=EntityFramework&quot;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>