@{
    ViewBag.Title = "Sale By Route";
}

<h2 id="breadcrumb-holder">
	Dashboard &nbsp; &gt; &nbsp;	
	<span class="bc-example">
		@Html.ActionLink("Reports", "Reports", new { area = "", controller = "Home" }) &nbsp; &gt; &nbsp;
		@ViewBag.Title
	</span> 
</h2>
<div id="main-content-report">
@using Distributr.HQ.Lib.Util
<div>
<iframe src="@Html.MyResource("Reports/SalesByRoute/SalesByRoute.aspx")" ></iframe>
</div>
</div>
