<?xml version="1.0"?>
<configuration>
  <!--<location path="">-->
    <system.web>
      
      <authorization>
        
        <allow roles="WarehouseManager"/>
        <allow roles="OutletManager" />
        <allow roles="DistributorSalesman" />
        <allow users="ASM" />
        <allow roles="SalesRep"/>
        <allow roles="Surveyor" />
        <allow roles="HQAdmin" />
     
        <deny users="?" />
      </authorization>
    </system.web>
  <!--</location>-->
</configuration>
