<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="masterdataimportpath" value="D:\Setups\alidi\imports" />
    <add key="inventoryimportpath" value="D:\Setups\alidi\imports\Inventory" />
    <add key="exports" value="D:\Setups\alidi\exports" />
    <add key="lastDateOfSync" value="01/01/2014 3:09:01 PM" />
    <add key="QuickBooksCompanyFilePath" value="D:\Setups\alidi\Alidi Kenya.qbw" />
    <!--<add key="WSURL" value="http://10.0.0.191:57200/" />-->
    <!--<add key="WSURL" value="http://197.248.2.53:609/AlidiKenya_ws/" />-->
    <add key="WSURL" value="http://10.0.0.195:57200/" />
    <add key="integrator" value="QuickBooks" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>