.menu_list {
width:240px;
}

.menu_head {
cursor:pointer;
position:relative;
border-top:1px solid #858585;
border-bottom:1px solid #636363;
font-size:.8em;
background:#7a7a7a;
color:#fff;
text-transform:uppercase;
padding:7px 10px;
}
.menu_head #orders_png
{
   background:url(../images/icons/icons.png);
    background-position: -64px 0px;
    }
.menu_head:hover {
background-color:#8b8b8b;
}

.menu_head img {
margin-right:5px;
}

.menu_body {
display:none;
}

.menu_body a {
display:block;
color:#069;
background-color:#EFEFEF;
font-size:.8em;
border-bottom:1px solid #d6d6d6;
text-decoration:none;
padding:5px 0 5px 30px;
}

.menu_body a:hover {
color:#000;
background-color:#fff;
}
img.orders_png
{background:url(../images/icons/icons.png) no-repeat top left;background-position: -64px 0px;width:27px;height:27px;margin-top:10px;}
.sprites{background-image:url(../images/icons/icons.png);position:absolute;background-repeat:no-repeat;}#books_png{height:16px;width:16px;background-position:0 0;}#deliveries_png{height:16px;width:16px;background-position:-16px 0;}#deliveries-pending_png{height:16px;width:16px;background-position:-32px 0;}#global_png{height:16px;width:16px;background-position:-48px 0;}#orders_png{height:16px;width:16px;background-position:-64px 0;}#orders-pending_png{height:16px;width:16px;background-position:-80px 0;}#outstanding-bal_png{height:16px;width:16px;background-position:-96px 0;}#products_png{height:16px;width:16px;background-position:-112px 0;}#reports_png{height:16px;width:16px;background-position:-128px 0;}#system_png{height:16px;width:16px;background-position:-144px 0;}