@model Distributr.HQ.Lib.ViewModels.Agrimanagr.CostCentreViewModel.CommoditySupplierListingViewModel

@{
    ViewBag.Title = "DetailsCommoditySupplier";
}

<h2>DetailsCommoditySupplier</h2>

<fieldset>
    <legend>CommoditySupplierViewModel</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditCommoditySupplier", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
