<appSettings>
  <add key="cokeconnectionstring" value="metadata=res://*/EF.CokeData.csdl|res://*/EF.CokeData.ssdl|res://*/EF.CokeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=cokeunittest;persist security info=True;user id=dev;password=sys;multipleactiveresultsets=True;App=EntityFramework&quot;" />
  <add key="directconnectionstring" value=" data source=.;initial catalog=cokeunittest;uid=dev;pwd=sys;" />
  <add key="routingdbconnectionstring" value="Data Source=.;initial catalog=cokecommandrouting;uid=dev;pwd=sys;Integrated Security=SSPI;"/>
  <add key="createtablesscriptlocation" value="D:\project\distributr\DBScripts\script.sql"/>
  <add key="CacheName" value="distributr"/>
  <add key="AppfabricCaching" value="false"/>
</appSettings>