@model Distributr.HQ.Lib.ViewModels.Admin.User.UserTypeViewModel

@{
    ViewBag.Title = "UserTypeIndex";
}

<h2>UserTypeIndex</h2>
@Html.ActionLink("List User Types", "ListUserTypes");
@Html.ActionLink("Create A User Type", "CreateUserType");

