table
{
    /* border: 1px; - **EDITED** - doesn't seem like influences here */
    background-color: #080;
    border-spacing: 1px;
    margin: 0 auto 0 auto;
}
table thead th, table thead td
{
    background-color: #9f9;
    /* border: #080 0px solid; - **EDITED** - doesn't seem like influences here */
    padding: 5px;
    margin: 1px;
}
table tbody th, table tbody td
{
    background-color: #fff;
    /* border: #080 0px solid; - **EDITED** - doesn't seem like influences here */
    padding: 2px;
}