<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, &#xD;&#xA;    log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="AppId" value="MDC" />
    <add key="IsSyncApp" value="true" />
    <!--<add key="WSURL" value="http://localhost:57300/" />-->
    <add key="WSURL" value="http://vstest789.azurewebsites.net/" />
    <add key="PlatformType" value="win" />
    <add key="cokeconnectionstring" value="metadata=res://*/EF.CokeData.csdl|res://*/EF.CokeData.ssdl|res://*/EF.CokeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vaio;initial catalog=DistributrLocal;persist security info=True;user id=sa;password=doggie;multipleactiveresultsets=True;App=EntityFramework&quot;" />
  </appSettings>
  <connectionStrings>
    <add name="DistributrLocalContext" connectionString="Data Source=vaio;Initial Catalog=DistributrLocalSetup;Persist Security Info=True;User ID=sa;Password=doggie" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\wpf.distributr" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="0" />
      <rollingStyle value="Composite" />
      <countDirection value="1" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>