@model Distributr.HQ.Lib.ViewModelBuilders.Reports.Inventory.ViewModel.InventoryReportViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("View Inventory Reports","InventoryBalances")
