@{
    ViewBag.Title = "GetStockByProduct";
}

@{
    ViewBag.Title = "Stock By Product";
}

<h2 id="breadcrumb-holder">
	Dashboard &nbsp; &gt; &nbsp;	
	<span class="bc-example">
		@Html.ActionLink("Reports", "Reports", new { area = "", controller = "Home" }) &nbsp; &gt; &nbsp;
		Stock By Product
	</span> 
</h2>
<div id="main-content-report">
@using Distributr.HQ.Lib.Util
<div>
<iframe src="@Html.MyResource("Reports/StockMovement/StockByProduct.aspx")@ViewBag.Parameters" ></iframe>
</div>
</div>