@model Distributr.HQ.Lib.ViewModels.Admin.Product.ProductPricingTierViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("List Of Product Pricing Tiers", "ListProductPricingTiers")
